{% extends "layout.html" %}
    {% block title %}
      Twain Labs
    {% endblock %}
    {% block body %}
        <h1>Here is the List of doctors</h1>
        {% for doc in doctor %}
            <ul>
                <li>Doctor ID:{{doc.id}}<br>Doctor Name: {{doc.fname}} {{doc.lname}}</li>
                <form action="{{ url_for('drate') }}" method="post">
                    <label>Doctor ID</label>
                    <input type="text" name="id">
                    <label>Rate between (1-5)</label>
                    <input type="number" name="rate" min="1" max="5">
                    <button type="submit" value="Submit" id="button">Submit</button>
                </form>
            </ul>
        {% endfor %}
    {% endblock %}